/*-- scss:defaults --*/

$presentation-font-size-root: 35px;
$presentation-heading-color: #44548a;
$presentation-title-slide-text-align: center;

/*-- scss:rules --*/

.header {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding-top: 25%;
    padding-left: 25%;
}

.header img {
  float: left;
  height: 150px;
}

.header h1 {
  position: relative;
  top: 38px;
  left: 10px;
}

.header h4 {
  position: relative;
  left: 10px;
  font-style: italic;
  color: #786898;
}

.subheader {
    text-align: center;
    font-style: italic;
    font-size: 22pt;
}

.smallHeading h3 {
  font-size: 24pt;
}

strong {
  color: #786898;
}

.heading-ul ul {
  margin-left: 75px;
}

.heading-ul h4 {
  color: #786898;
}

.middle {
  text-align: center;
}

.tg  {
  border-collapse:collapse;
  border-color:#ccc;
  border-spacing:0;
}

.tg td {
  background-color:#fff;
  border-color:#ccc;
  border-style:solid;
  border-width:1px;
  color:#333;
  font-family:Arial, sans-serif;
  font-size:14px;
  overflow:hidden;
  padding:10px 5px;
  word-break:normal;
}

.tg th {
  background-color:#f0f0f0;
  border-color:#ccc;
  border-style:solid;
  border-width:1px;
  color:#333;
  font-family:Arial, sans-serif;
  font-size:14px;
  font-weight:normal;
  overflow:hidden;
  padding:10px 5px;
  word-break:normal;
}

.tg .tg-nrix {
  text-align:center;
  vertical-align:middle
}
.tg .tg-57iy {
  background-color:#f9f9f9;
  text-align:center;
  vertical-align:middle
}
