/*-- scss:defaults --*/

$presentation-font-size-root: 35px;
$presentation-heading-color: #44548a;
$presentation-title-slide-text-align: center;

/*-- scss:rules --*/

.smallHeading h3 {
  font-size: 24pt;
}